[Unit]
Description=Inkstand Browser

[Service]
Type=simple
# fake user-agent is required. weatherwidget.io would block headless chrome
ExecStart=/usr/bin/chromium-browser --no-sandbox --headless --disable-gpu --hide-scrollbars --user-agent="Mozilla/5.0 (X11; CrOS armv7l 13597.84.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.5672.59 Safari/537.36" --remote-debugging-port=9222

[Install]
WantedBy=multi-user.target